.sect-common, .cols-movie {overflow:hidden; width:980px;}
.sect-common {height:450px; margin-top:25px}
.cols-movie {height:388px;}

.slider {overflow:hidden; position:relative; z-index:1; width:100%; height:100%;}
.slider > button[type='button'] {position:absolute; background-image:url(https://img.cgv.co.kr/r2014/images/sprite/sprite_btn.png); background-repeat:no-repeat; font:0/0 a; zoom:1;}
.slider > .btn-prev,
.slider > .btn-next,
.slider > .btn-prev.dim,
.slider > .btn-next.dim {overflow:hidden; top:50%; width:26px; height:52px; text-indent:100%; white-space:nowrap; margin-top:-26px;}
.slider > .btn-prev {left:19px; background-position:0 -97px;}
.slider > .btn-prev.dim {background-position:0 -155px;}
.slider > .btn-next {right:19px; background-position:-30px -97px;}
.slider > .btn-next.dim {background-position:-30px -155px;}
/* .slider ul {clear:both;} */
/* .slider li - item으로 대체 */

.slider .item-wrap {float:left;}
*+html .slider .item-wrap {display:inline;}
.slider button[type='button'] {z-index:20;}
.slider button[type='button'].btn-pause,
.slider button[type='button'].btn-play,
.slider .item-wrap > button[type='button'] {overflow:hidden; position:absolute; top:415px; width:13px; height:13px; background:url(https://img.cgv.co.kr/r2014/images/sprite/sprite_icon.png) no-repeat 0 -90px; text-indent:100%; white-space:nowrap;}
.slider .item-wrap button[type='button'].on {background-position:-16px -90px;}
.slider .item-wrap > .item {position:absolute; z-index:5; text-align:center;}
.slider .item-wrap.on > .item {z-index:10;}
.slider .item-wrap.move > .item {z-index:15;}
.slider .item-wrap.on > .item > a {display:block;}
.slider .item-wrap > .item .ico-play {top:50%; left:50%; width:66px; height:66px; margin:-33px 0 0 -33px; background-position: -121px -21px;}

/* .slider .item-wrap > button[type='button'] {display:none;} */
.slider button[type='button'].btn-play {left:534px; background-position:-32px -90px;}
.slider button[type='button'].btn-pause {left:551px; background-position:-48px -90px;}

h3 > img {
    padding: 0 8px;
    background-color: #fdfcf0;
}
input, select, img {
    vertical-align: middle;
}

div[class^="sect-"]{ clear:both; zoom:1;}
div[class^="sect-"]:after{ content:'';clear:both;display:block; }
div[class^="sect-"] .box-contents li a{ display:block; font-weight:500; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
/* div[class^="sect-"] .box-contents img{} */
div[class^="sect-"] .btn-itemmore{ margin-top:30px;}



div[class^="sect-"]:after {
    content: '';
    clear: both;
    display: block;
}

.slider {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.sect-weeklyplan .slider .item-wrap {
    height: 150px;
}

.slider .item-wrap {
    float: left;
}

.slider .item-wrap > .item {
    position: absolute;
    z-index: 5;
    text-align: center;
}

.sect-weeklyplan .collageinfo {
    position: relative;
    display: inline-block;
    position: static;
    width: 110px;
    height: 150px;
    padding: 0 2px;
    border-left: 1px solid #302522;
    vertical-align: top;
    text-align: left;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sect-weeklyplan .collageinfo:first-child {
    border-left: none;
}

.sect-weeklyplan .slider {
    overflow: visible;
    height: 200px;
    background: url(../images/common/bg/bg_week_slider.png) 0 0 no-repeat;
}


.slider {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}